@font-face {
    font-family: 'Poppins';
    src: url(data/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Ubuntu';
    src: url(data/Ubuntu-M.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(data/opensans/OpenSans-Regular.ttf);
}

*
{
    font-family: 'Open Sans','Poppins','Ubuntu',sans-serif;
    margin: 0px;
    padding: 0px;
}

body
{
    padding: 0;
    background: url(data/backgnd_acc.png);
}

/*!Header */

header{
    border-bottom: solid 2px rgba(0,0,0, 0.5);
    border-color: rgb(199, 199, 199);
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #fff;
}

/* Images du header */
header .images{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url(data/dashed.png);
}

.logoIUT{
    width: 10%;
    height: 30%;
}

.logoUT3{
    width: 15%;
}

.logoBUT{
    width: 7%;
    margin-left: 67%;
}
/*-----------*/

/* Menu du header */
header .menu{
    display: flex;
    flex-direction: row;
}
nav{
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
}

.conteneur-nav{
    position: absolute;
    width: 100%;
}

nav ul{
    list-style-type: none;
    display: none;
    background-color: #fff;
}

nav input[type=checkbox]:checked + ul{
    display: flex;
    flex-flow: column wrap;
}

nav input[type=checkbox]{
    display: none;
}

nav label{
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color: rgb(219, 40, 40);
}

nav ul li{
    flex: 1 1 auto;
    text-align: center;
}

nav > div > ul > li > a{
    color: white;
}

nav a{
    text-decoration: none;
    display: block;
    color: #fff;
    border: solid 2px;
    margin: 3px;
    background-color: rgb(216, 25, 25);
    padding: 10px 0px;
}

.sous{
    display: flex;
    flex-flow: column wrap;
    z-index: 1000;
}

.sous li{
    flex: 1 1 auto;
    text-align: center;
}

.sous a{
    padding: 10px;
    background-color: rgb(250, 103, 34);
}
/* ------------------------------- */

.txtGras p{
    font-weight: bold;
}

.pr_but_info
{
    margin: 0% 5% 0% 5%;
    margin-top: 3%;
    padding: 10px;
    display: block;
    flex-direction: row;
    background-color: rgb(253, 253, 253);
    align-items: center;
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
    border-radius: 2px;
}

.pr_but_info h1
{
    text-align: center;
    color: rgb(33, 54, 98);
    font-size: 2vw;
}

.pr_but_info .but .hist_but
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.pr_but_info .but .hist_but .imgBx
{
    box-sizing: content-box;
    border-right: 5px solid rgb(33, 54, 98);
    margin-right: 10px;
}

.pr_but_info .but .hist_but img
{
    width: 170px;
    padding: 10px;
    position: relative;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s ease-in-out infinite;
}

@keyframes spin {
    100%{-webkit-transform: rotateY(360deg);}
}

.pr_but_info .but .hist_but .txtBx
{
    background-color: rgb(233, 255, 248);
    border-radius: 10px;
}

.pr_but_info .but .hist_but .txtBx p
{
    font-size: 1.6vw;
    margin-left: 20px;
}

.pr_but_info .but .hist_but .txtBx mark,
.pr_but_info .but .hist_but .txtBx p strong
{
    background-color: #ffffff;
    border-radius: 6px;
}

.pr_but_info .hist_but .txtBx a
{
    text-transform: uppercase;
    text-decoration: none;
}

.pr_but_info .hist_but .txtBx a:hover
{
    color: #d40606;
    transition: 0.3s;
}

.pr_but_info .hist_but .txtBx span
{
    color: #d40606;
    font-weight: bold;

}

.decorateur,
.decorateurC
{
    background-color: rgb(200, 200, 200);
    width: 90%;
    height: 5px;
    margin: 0% 5% 0% 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.pres_iut_a
{
    margin: 0% 5% 0% 5%;
    padding: 10px;
    background: url(data/dashed.png);
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
}

.pres_iut_a h1
{
    font-size: 3vw;
    text-align: center;
    color: #d40606;
    font-weight: bold;
    border: 1px solid rgb(207, 5, 5);
    background-color: #fff;
    padding: 3px;
    width: fit-content;
    margin: 0% 0% 0% 10%;
}

.pres_iut_a .block
{
    margin: 10px;
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
}

.pres_iut_a .block .imgIUT
{
    margin: 20px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    min-width: 400px;
}

.pres_iut_a .block .imgIUT img
{
    margin: 10px;
    border-radius: 2px;
    width: 320px;
    height: 320px;
}

.pres_iut_a .block .imgIUT img:hover
{
    transform: scale(1.1);
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.5);
    transition: 1s;
}

.pres_iut_a .block .main_text
{
    background-color: #fff;
    margin: 20px;
    margin-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
}

.pres_iut_a .block .main_text .text_iut
{
    font-size: 1.2vw;
    margin: 20px;
    margin-left: 10px;
    background-color: #ffffff;
    border-left: 6px solid rgb(238, 18, 18);
    padding-left: 10px;
}

.pres_iut_a .block .main_text .text_iut p
{
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 1.2vw;
    text-align: inherit;
}

.pres_iut_a .block .main_text .text_iut .formation,
.pres_iut_a .block .main_text .text_iut .contact
{
    margin-left: 20px;
    font-size: 1vw;
}

.pres_iut_a .block .main_text .text_iut .contact li
{
    color: #000000;
}

.competences
{
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    margin: 0% 5% 0% 5%;
    max-height: 700px;
    background-color: #fff;
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
    overflow: scroll;
    border-radius: 3px;
}

.competences h2
{
    text-align: center;
    font-size: 3vw;
    text-transform: uppercase;
    padding: 20px;
    margin: 10px;
    background-color: rgb(207, 5, 5);
    color: #fff;
    border-radius: 2px;
}

/* COMPETENCE 1*/
.competences .c1,
.competences .c2,
.competences .c3,
.competences .c4,
.competences .c5,
.competences .c6
{
    display: flex;
    margin: 20px;
    padding-left: 50px;
}

.competences .c1 .imgC1,
.competences .c2 .imgC1,
.competences .c3 .imgC1,
.competences .c4 .imgC1,
.competences .c5 .imgC1,
.competences .c6 .imgC1
{
    background-color: #ffffffc7;
    margin: 10px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.competences .c1 .imgC1 img,
.competences .c2 .imgC1 img,
.competences .c3 .imgC1 img,
.competences .c4 .imgC1 img,
.competences .c5 .imgC1 img,
.competences .c6 .imgC1 img
{
    width: 70px;
    height: 70px;
    margin: 10px;
    box-shadow: 0 10px 50px rgba(185, 26, 26, 0.198);
    border-radius: 20%; 
}

.competences .c2 .imgC1 img:hover,
.competences .c4 .imgC1 img:hover,
.competences .c5 .imgC1 img:hover,
.competences .c6 .imgC1 img:hover
{
    transform: scale(1.1);
    transition: 1s;
}

.competences .c1 .textC,
.competences .c2 .textC,
.competences .c3 .textC,
.competences .c4 .textC,
.competences .c5 .textC,
.competences .c6 .textC
{
    box-sizing: border-box;
    margin: 10px;
    margin-left: 0px;
    background-color: rgb(248, 248, 248);
    font-size: 3vh;
    border-left: 5px solid #ff00009d;
    width: 100%;
}

.competences .c1 .textC h3,
.competences .c2 .textC h3,
.competences .c3 .textC h3,
.competences .c4 .textC h3,
.competences .c5 .textC h3,
.competences .c6 .textC h3
{
    text-align: center;
    color: #000000;
    padding-top: 10px;
    font-size: 1.3vw;
    text-transform: uppercase;
}

.competences .c1 .textC .description,
.competences .c2 .textC .description,
.competences .c3 .textC .description,
.competences .c4 .textC .description,
.competences .c5 .textC .description,
.competences .c6 .textC .description
{
    font-size: 20px;
}

.competences .c1 .textC .description p,
.competences .c2 .textC .description p,
.competences .c3 .textC .description p,
.competences .c4 .textC .description p,
.competences .c5 .textC .description p,
.competences .c6 .textC .description p
{
    margin: 30px;
    background-color: #ffffff;
    line-height: 20px;
    padding: 9px;
    font-size: 1.4vw;
    border-radius: 2px;
    background-color: #d40000;
    color: #fff;
    text-align: center;
}

.competences .c1 .textC .list_box,
.competences .c2 .textC .list_box,
.competences .c3 .textC .list_box,
.competences .c4 .textC .list_box,
.competences .c5 .textC .list_box,
.competences .c6 .textC .list_box
{
   display: flex;
   margin-left: 40px;
   width: 83%;
   padding-bottom: 5%;
   border-radius: 5px;
}

.competences .c1 .textC .list_box ul,
.competences .c2 .textC .list_box ul,
.competences .c3 .textC .list_box ul,
.competences .c4 .textC .list_box ul,
.competences .c5 .textC .list_box ul,
.competences .c6 .textC .list_box ul,
.app_crit .appr_cr .boite .liste_ac li
{
    
    background-color: #fff;
    box-shadow: 0 10px 50px rgba(0,0,0, 0.1);
    border-radius: 10px;
    
}

/*_-_-*/
.app_crit .appr_cr .boite .liste_ac li
{
    border-radius: 0px;
    margin: 5px;
    list-style: none;
    padding-left: 20px;
    align-items: center;
}
.app_crit .appr_cr .boite .liste_ac li
{
    width: 70%;
}
.competences .c1 .textC .list_box ul li,
.competences .c2 .textC .list_box ul li,
.competences .c3 .textC .list_box ul li,
.competences .c4 .textC .list_box ul li,
.competences .c5 .textC .list_box ul li,
.competences .c6 .textC .list_box ul li,
.app_crit .appr_cr .boite .liste_ac
{
    
    list-style: none;
    font-size: 1.3vw;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    transition: transform 0.5s;
}

.competences .c1 .textC .list_box ul li:hover,
.competences .c2 .textC .list_box ul li:hover,
.competences .c3 .textC .list_box ul li:hover,
.competences .c4 .textC .list_box ul li:hover,
.competences .c5 .textC .list_box ul li:hover,
.competences .c6 .textC .list_box ul li:hover
{
    transform: scale(1.1);
    background-color: #d40000;
    z-index: 100;
    box-shadow: 0 5px 25px rgba(0,0,0, 0.2);
    transition: 0.5s;
    color: #fff;
    border-radius: 10px;
}

.competences .c1 .textC .list_box ul li span,
.competences .c2 .textC .list_box ul li span,
.competences .c3 .textC .list_box ul li span,
.competences .c4 .textC .list_box ul li span,
.competences .c5 .textC .list_box ul li span,
.competences .c6 .textC .list_box ul li span
{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #ffee00;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: 600;
    align-items: center;
}
/* COMPETENCE 2*/
.competences .c2 .textC
{
    border-left: 5px solid #ff2e2e9d;
}

.competences .c2 .textC h3
{
    text-align: center;
    color: #000000;
    font-size: 1.3vw;
    text-transform: uppercase;
}

.competences .c2 .textC .description p
{
    background-color: #dd3535;
}

.competences .c2 .textC .list_box ul li:hover
{
    background-color: #dd3535;
}

.competences .c2 .textC .list_box ul li span
{
    background-color: #ffee00;
}

/*COMPETENCE 3 */
.competences .c3 .textC
{
    border-left: 5px solid #f5a4239d;
}

.competences .c3 .textC .description p
{
    background-color: #f5a423;
}

.competences .c3 .imgC1 img:hover
{
    transform: rotateZ(90deg);
    transition: 1s;
}

.competences .c3 .textC .list_box ul li:hover
{
    background-color: #f5a423;
}

/*COMPETENCE 4 */

.competences .c4 .textC
{
    border-left: 5px solid #07dd009d;
}

.competences .c4 .imgC1 img:hover
{
    transform: scale(1.1);
    transition: 1s;
}

.competences .c4 .textC .description p
{
    background-color: #07dd00;
}

.competences .c4 .textC .list_box ul li:hover
{
    background-color: #07dd00;
}



/*COMPETENCE 5 */

.competences .c5 .textC
{
    border-left: 5px solid #0002809d;
}

.competences .c5 .textC .description p
{
    background-color: #000288;
}

.competences .c5 .textC .list_box ul li:hover
{
    background-color: #000288;
}

/*COMPETENCE 6 */

.competences .c6 .textC
{
    border-left: 5px solid #2c2b289d;
}

.competences .c6 .textC .description p
{
    background-color: #2c2b28;
}
.competences .c6 .textC .list_box ul li:hover
{
    background-color: #2c2b28;
}

/* Vie etudiante*/
.vE
{
    margin: 0% 5% 1% 5%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
    background: url(data/vieEtudi.jpg);
    object-fit: fill;
    align-items: center;
    padding: 10px;
}

.vE h2
{
    padding: 5px;
    margin-bottom: 8px;
    line-height: 1;
    font-family: 'Ubuntu';
    font-size: 3vw;
    text-align: center;
    width: fit-content;
    text-transform: uppercase;
    background: wheat;
    color: #b30000;
    border-radius: 2px;
    border: 2px solid white;
}

.vE .vie_etu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1%;
}


.vE .vie_etu .texteF
{
    background-color: #ffffff;
    margin: 10px;
    margin-top: 0px;
    padding: 0;
    width: 100%;
    border-radius: 10px;
}

.vE .vie_etu .texteF p
{
    padding: 10px;
    font-size: 1.1vw;
}

.vE .vie_etu .imgEtu
{
    border-left: 5px solid #b30000;
    display: flex;
    align-items: center;
}

.vE .vie_etu .imgEtu img
{
    margin-left: 20px;
    margin: 30px;
    width: 300px;
}

.vE .vie_etu .imgEtu img:hover
{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0,0,0, 0.5);
    transition: 2s;
}

/* >> PAGE Competence << */
.body_comp h1
{
    text-transform: uppercase;
    text-align: center;
    background-color: #dd0700;
    color: #fff;
    font-size: 4vw;
    margin-bottom: 10px;
    margin-top: 30px;
}

.compt2 h1
{
    background-color: #e98560;
}

.compt3 h1
{
    background-color: #f5d107;
}

.compt4 h1
{
    background-color: #05b32a;
}

.compt5 h1
{
    background-color: #190768;
}
.compt6 h1
{
    background-color: #352c33;
}


#ancre
{
    position: sticky;
    display: flex;
    justify-content: center;
    margin: 1%;
}
#ancre img
{
    max-width: 50px;
    border-radius: 50%;
}

#ancre img:hover
{
    transform: rotate(360deg);
    transition: 1s;
}

.app_crit
{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
    margin: 20px 70px 0px 70px;
}

.app_crit h2
{
    text-align: center;
    margin: 5px;
    text-transform: capitalize;
    background: rgb(243, 243, 243);
    border-bottom: 5px solid #da0000;
    width: fit-content;
    margin: 0% 0% 0% 40%;
    padding: 10px;
    font-weight: bold;
}

.app_crit .appr_cr .boite
{
    display: flex;
    flex-direction: row;
    margin: 2% 2% 2% 2%;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: fit-content;
    background: url(data/bg_main.jpg);
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
}

.app_crit .appr_cr .boite img
{
    padding: 5px;
    margin: 5px;
    max-width: 250px;
    border: 2px solid white;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
}

.app_crit .appr_cr .boite .liste_ac
{
    margin: 5px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
    background: #f5f5f5;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}


.app_crit .appr_cr .boite .liste_ac,
.app_crit .appr_cr .boite .liste_ac li
{
    border: 1px solid rgb(0, 0, 0);
    box-shadow: none;    
    text-align: center;
    border-radius: 2px;
}

.app_crit .appr_cr .boite .liste_ac li
{
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    background: #c31515;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 0px 3px rgba(90, 106, 107, 0.5);
    animation: remplir 1400ms alternate-reverse infinite;
    border: 2px solid black;
}

.app_crit .appr_cr .boite .cp2 li
{
    background: #e08b51;
}

.app_crit .appr_cr .boite .cp3 li
{
    background: #ebc109;
}

.app_crit .appr_cr .boite .cp4 li
{
    background: #05b32a;
}

.app_crit .appr_cr .boite .cp5 li
{
    background: #0d0368;
}

.app_crit .appr_cr .boite .cp6 li
{
    background: #352c33;
}


.app_crit .appr_cr .boite .liste_ac li:nth-child(even)
{
    animation-delay: 700ms;
}

@keyframes remplir
{
    0% { border-color: #ffffff;}
    50% { border-color:rgb(219, 90, 90);}
    100% { border-color: #c01616;}
}

.evaluation
{
    display: flex;
    flex-direction: column;
    margin: 20px 70px 0px 70px;
    padding: 5px;
    background: white;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.evaluation h2,
.sae h2,
.ressources h2
{
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid rgb(244, 248, 28);
    margin-bottom: 10px;
    margin-left: 30%;
    margin-right: 30%;
}

.evaluation .tableau_eva
{
    display: flex;
    align-items: center;
    padding: 1%;
}

.evaluation .tableau_eva table
{
    width: 100%;
}

.evaluation .tableau_eva table,
.sae .desc_sae table
{
    border-collapse: collapse;
    box-shadow: 1px 5px 10px rgb(223, 220, 220);
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 5px;
}

.evaluation .tableau_eva table thead
{
    box-shadow: 0 0px 10px rgb(240, 238, 238);
    background-color: #ffd601;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.evaluation .tableau_eva table th,
.sae .desc_sae table th
{
    padding: 0.3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

.evaluation .tableau_eva table td,
.sae .desc_sae table td
{
    padding: 0.5rem 0.3rem;
    margin: 12px;
    text-align: center;
    border: 1px solid;
    width: fit-content;
}

.evaluation .tableau_eva table .evalued
{
    background-color: #f00000;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: bold;
    margin: 12px;
    border-radius: 5px;
}

.sae
{
    display: flex;
    flex-direction: column;
    margin: 0px 70px 0px 70px;
    padding: 5px;
    background: #fff;
}

.sae h2
{
    border-bottom: solid rgb(121, 121, 121);
    background: #fff;
}

.sae .desc_sae
{
    padding: 7px;
}

.sae .desc_sae table
{
    margin-bottom: 20px;
    border-radius: 5px;
}

.sae .desc_sae table th
{
    text-align: left;
    padding: 10px;
    background-color: #b6b6b641;
}

.sae .desc_sae table td li
{
    list-style: square inside;
    text-align: left;
}

.sae .desc_sae table tr td:nth-child(even)
{
    background: rgb(255, 255, 255);
}

.ressources
{
    padding: 10px;
    margin: 0px 70px 0px 70px;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0,0.5);
}

.ressources h2
{
    border-bottom: solid rgb(250, 34, 34);
}

.ressources .res
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background: #ffffff;
    border: 5px solid rgb(182, 3, 3);
}
.ressources .res .ctxtres
{
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
    margin: 1%;
    width: fit-content;
    background: rgb(248, 248, 248);
}

.ressources .res .ctxtres .md,
.ressources .res .ctxtres .name_md
{
    line-height: 30px;
    padding: 12px;
    margin: 8px;
    color: #fff;
    border-radius: 2px;
}

.res .ctxtres .md
{
    border: solid white;
    box-shadow: 0px 0px 5px rgba(226, 19, 19, 0.5);
}

.res1 .md
{
    background-color: #dd1a00;
}

.res2 .md
{
    background: #ffb83e;
}

.res3 .md
{
    background: #450a3b;
}

.res4 .md
{
    background: #535351;
}

.res5 .md
{
    background: #4f1377;
}

.res6 .md
{
    background: #2d5868;
}

.res7 .md
{
    background: #b98d69;
}

.res8 .md
{
    background: #1e7090;
}

.res9 .md
{
    background: #740d38;
}

.res10 .md
{
    background: #17b91f;
}

.res11 .md
{
    background: #9817b9;
}

.res12 .md
{
    background: #158560;
}



.ressources .res .ctxtres .name_md
{
    margin-left: 0px;
    background: linear-gradient(60deg,#fc210d,#450a3b);
}

.ressources .res .txt_part
{
    margin: 0px 15px 5px 15px;
    padding: 5px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
}

.ressources .res .txt_part .part_one,
.ressources .res .txt_part .desciption_res
{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.5);
}

.ressources .res .txt_part .part_one
{
    margin-bottom: 5px;
}

.ressources .res .txt_part .desciption_res h4
{
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 5px;
    padding: 3px;
    border-bottom: 2px solid #b30000;
    width: fit-content;
    text-transform: uppercase;
    color: #d40606;
}

.ressources .res .txt_part .part_one ul,
.ressources .res .txt_part .desciption_res ul
{
    padding: 5px;
}

.ressources .res .txt_part .part_one li,
.ressources .res .txt_part .desciption_res li
{
    list-style: inside square;
}

/*! Footer */
footer
{
    padding-top: 5px;
    display: flex;
    width: 100%;
    min-height: 250px;
    overflow: hidden;
    border-top: solid 1px rgb(211, 211, 211);
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: rgb(246, 246, 246);
    border-bottom: 50px solid #b30000;
}

#img_foo,
.infos img
{
    max-width: 170px;
}

.planSite{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.4vw;
    width: 40%;
}

.planSite a{
    text-decoration: none;
    color: #333;
}
    
.bloc{
    width:fit-content;
    margin: 15px 15px 5px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-accueil
{
    margin-left: 12%;
}

.footer-accueil img:hover
{
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.5);
    transition: 1s;
}

.footer-accueil a,
.footer-presBUT,
.footer-contact
{
    margin-bottom: 5%;
    font-weight: bold;
    border-bottom: solid rgb(161, 0, 0);
} 

#ai
{
    border: none;
}

#a_colp
{
    text-align: center;
    margin-top: 15%;
}

summary{
    cursor: pointer;
}

.liste-competences{
    list-style-type: none;
}

.liste-competences li{
    padding: 2px 0;
}

.liste-competences a{
    padding: 2px;
    text-decoration: none;
    color: #333;
    font-size: 1.1vw;
}

.liste-competences a:hover{
    color: #b30000;
    background-color: #ebd40b;
    border-radius: 2px;
    transition: 0.5s;
}

.lienCNIL{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 2%;
    align-items: center;
}

.lienCNIL .logo_rg_cn
{
    display: flex;
    flex-direction: row;
}

.lienCNIL .logo_rg_cn img
{
    max-width: 200px;
}

.lienCNIL a
{
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 1.5vw;
    color: #333;
    margin-top: 1%;
    width: fit-content;
    text-decoration: none;
    border-bottom: solid rgb(161, 0, 0);
}

.lienCNIL a:hover{
    color: rgb(20, 91, 109);
    transition: 0.5s;
}

.infos
{
    font-family: 'Ubuntu';
    font-size: bold;
    padding: 8px;
    color: #000000;
    display: flex;
    align-items: center;
    margin-right: 10%;
    text-align: center;
    margin: 5px;
    background: #fff;
    width: fit-content;
}

.infos ul{
    list-style-type: none;
}

.infos ul li
{
    margin: 5px;
}

#groupe
{
    color: rgb(255, 255, 255);
    background: rgb(58, 116, 170);
    padding: 5px;
}

#UI_designer
{
    color: brown;
    font-weight: bolder;
    animation: animate  0.5s ease-in-out infinite;
}
abbr{
    text-decoration: none;

}

@keyframes animate
{
    0%
    {
        color: red;
    }

    50%
    {
        color: green;
    }


    100%
    {
        color: blue;
    }
}

/*!Presentation BUT */
#titreBUT{
    text-align: center;
    margin-top: 10px;
    background: #fff;
    text-align: center;
    width: fit-content;
    margin: 1% 20% 0% 40%;
    border-bottom: 2px solid #b30000;
    padding: 5px;
}

.firstPart{
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
    border-radius: 2px;
    margin: 0px 70px 0px 70px;
    margin-bottom: 20px;
    margin-top: 2%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstPart h2{
    text-align: center;
    margin-top: 20px;
    border-bottom: solid 5px rgb(238, 29, 35);
    padding-bottom: 10px;
    width: fit-content;
    text-align: center;
}

.main_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}

.tableau_ressources{
    margin-right: 30px;
    margin: 20px;
    margin-top: 10px;
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
}

.tableau_ressources table{
    border-collapse: collapse;
}

.tableau_ressources td, th{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.tableau_ressources .trued
{
    background-color: rgb(204, 255, 197);
    font-weight: bold;
    color: black;
    border: 2px solid rgb(146, 145, 141);
}

.tableau_ressources thead{
    background-color: #c20000;
    color: white;
}

.text_valid {
    font-size: 1.1vw;
    width: 40%;
    display: flex;
    margin: 0 0 15px 30px;
    background-color: rgba(255, 255, 255, 0.432);
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
    padding: 10px;
    border-left: 4px solid #215d95;
}

.second_part img{
    width: 220px;
    height: 220px;
}

.image_comp{
    align-self: center;
}

.image_comp img:hover{
    transform: scale(1.1);
    transition: 1s;
}

.blocG {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
    border-radius: 3px;
    margin: 0px 70px 0px 70px;
    background-color: #fff;
    padding: 5px;
}

.blocD{
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
    border-radius: 3px;
    margin: 10px 70px 10px 70px;
    background-color: #fff;
    padding: 5px;
}

.comp1 .liste_comps,
.comp4 .liste_comps,
.comp5 .liste_comps
{
 display: flex;
 align-items: center;
 margin-left: 4%;
 color: #fff;
}

.blocD .image_comp
{
    border-right: 10px solid rgb(192, 0, 0);
    padding: 5px;
}

.blocG .image_comp
{
    border-left: 10px solid rgb(121, 121, 121);
    padding: 5px;
}

.comp1 .liste_comps p,
.comp4 .liste_comps div,
.comp5 .liste_comps div
{
    margin: 12px;
    width: 250px;
    height: 100px;
    text-align: center;
    padding-top: 4%;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
}


.comp2 .liste_comps,
.comp3 .liste_comps,
.comp6 .liste_comps
{
    display: grid;
    height: 350px;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 150px 150px 150px; 
    column-gap: 10px;
    row-gap: 15px;
    padding-right: 8%;
    align-items: stretch;
    padding-top: 2%;
}

.comp2 .liste_comps p,
.comp3 .liste_comps p,
.comp5 .liste_comps p,
.comp6 .liste_comps p
{
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.blocG .liste_comps
{
    padding-left: 10px;
}

.comp1 .liste_comps p
{
    border: 5px solid rgb(204, 43, 3);
    background-color: rgb(192, 0, 0);
}

.comp2 .liste_comps p{
    background-color: rgb(247, 145, 82);
    border: 5px solid #eb7c49;
}

.comp3 .liste_comps div{
    background-color: rgb(255, 192, 0);
    border: 5px solid #ffb710;
}

.comp4 .liste_comps div{
    background-color: rgb(146, 208, 80);
    border: 5px solid rgb(80, 117, 40);
}

.comp5 .liste_comps div{
    background-color: rgb(0, 32, 96);
    border: 5px solid rgb(13, 30, 61);
}

.comp6 .liste_comps div{
    background-color: rgb(30, 28, 17);
    border: 5px solid rgb(65, 61, 40);
}

.comp6 .liste_comps div p
{
    text-align: center;
    padding-top: 12%;
}

.body_presBUT{
    background-color: rgb(241, 239, 239);
}

/*PAGE CONTACT*/
#body_contact
{
    font-family: 'Open Sans';
}

#title_pc
{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 2% 0% 2% 40%;
    border-bottom: solid rgb(207, 5, 5);
    padding: 10px;
    width: fit-content;
    font-size: 3vw;
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
}

.page_contact_us
{
    margin: 0px 80px 0px 80px;
}

#main_contact
{
    padding: 2%;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
}

#title_h2_pc
{
    border-bottom: solid rgb(207, 5, 5);
    width: fit-content;
    padding-bottom: 12px;
    margin-bottom: 1.5%;
}

.data_user
{
    display: flex;
    flex-direction: row;
    padding: 12px;
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
    box-sizing: content-box;
}

#user_nom,
#user_prenom,
#email
{
    position: relative;
    padding: 10px;
    background: #ecebeb;
    color: #333333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
    border-radius: 0px;
    width: 300px;
    height: 25px;
}

.data_user label,
#user_nom,
#user_prenom
{
    display: table-row;
    margin-bottom: 10px;
    color: #000;
}

.data_user form input[type="submit"]
{
    max-width: 100px;
    background: rgb(192, 0, 0);
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    border: none;
    letter-spacing: 1px;
    transition: 0.1s;
}

.data_user .comment
{
    width: 100%;
    margin-left: 2%;
    border-left: solid rgb(207, 5, 5);
    box-sizing: border-box;
    padding: 1%;  
}

.data_user .comment textarea
{
    resize: none;
    background-color: #fff;
    color: rgb(36, 35, 35);
    border: 2px solid transparent;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    width: 98%;
    height: 95%;
    line-height: 1.1;
    padding: 5px;
    transition: all 0.3s;
}

.data_user .comment textarea:hover
{
    cursor: pointer;
    background-color: rgb(246, 243, 243);
}

.data_user .comment textarea:focus
{
    cursor: text;
    color: #2c2b28;
    background-color: #fff;
    border-color: #f06161;
}

.renseignements
{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    padding: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
}

.renseignements .coord_iut
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.renseignements .img_iut_a
{
    border-right: solid rgb(207, 5, 5);
    padding: 5px;
    padding-right: 6%;
    padding-left: 5%;
    margin-right: 5%;
}

.renseignements .img_iut_a img
{
    width: 370px;
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
}

.renseignements .img_iut_a img:hover
{
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.5);
    transition: 1s;
}

.renseignements .coord_iut .ct
{
    overflow: hidden;
    width: fit-content;
    box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
    border: 2px solid gray;
    margin-left: 0%;
    margin-right: 2%;
    margin-bottom: 5%;
    padding: 0;;
}

.renseignements .coord_iut .ct .maps_iut_a
{
    position: relative;
}

.renseignements .coord_iut .ct .maps_iut_a img
{
    width: 100%;
    overflow: hidden;
}

.renseignements .coord_iut .ct .maps_iut_a img {
    -webkit-transition: 1s ease;
    transition: 1s ease;
    }
.renseignements .coord_iut .ct:hover .maps_iut_a img {
    -webkit-transform: scaleX(2.2);
    transform: scale(2.2);
}

.renseignements .coord_iut .adress
{
    margin: 0% 0% 0% 5%;
}

.renseignements .coord_iut .adress p
{
    text-align: center;
    font-weight: bold;
    font-size: 1.1vw;
    padding: 10px;
    background: #fff;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

/* >> RESPONSIVE << */

/*Telephone*/
@media (max-width: 600px)
{

}

/*Tablette*/
@media screen and (max-width: 768)
{

}

/*PC portable*/
@media screen and (max-width: 992px)
{
    /*MAIN BUT*/
    .pr_but_info .but .hist_but
    {
        flex-direction: column;
    }

    .pr_but_info h1
    {
    text-align: center;
    color: rgb(86, 137, 231);
    font-size: 2.8vw;
   }

   .pr_but_info
   {
       margin: 60px;
   }

    .pr_but_info .but .hist_but .imgBx
    {
        border-right: none;
        margin-right: 0;
        margin-bottom: 10px;
        border-bottom: 5px solid #abf5ff;
    }

    .pr_but_info .but .hist_but img
    {
        width: 100px;
    }

    .pr_but_info .but .hist_but .txtBx p
    {
       font-size: 2.5vw;
       margin: 8px;
       text-align: center;
    }

    .pr_but_info .but .hist_but .txtBx
    {
        border: solid rgb(150, 188, 238);
    }

    /*PRES IUT A*/
    .pres_iut_a,
    .pr_but_info,
    .decorateur,
    .competences
    {
        margin: 60px;
    }
    .pres_iut_a .block
    {
        margin: 10px;
        display: flex;
        flex-direction: column;
        background: linear-gradient(70deg,#ff2525 60%, hsl(0, 100%, 91%));
        border-radius: 10px;
    }    

    .pres_iut_a .block .imgIUT
    {
        margin: 20px;
        margin-right: 80px;
        margin-left: 60px;
        display: flex;
        border-radius: 5px;
    }

    .pres_iut_a .block .imgIUT img
    {
        width: 300px;
        height: 300px;
    }

    .pres_iut_a .block .main_text .text_iut .formation,
    .pres_iut_a .block .main_text .text_iut .contact
    {
        margin-left: 20px;
        font-size: 1.9vw;
    }

    .pres_iut_a .block .main_text .text_iut p
    {
        padding: 10px;
        color: rgb(0, 0, 0);
        font-size: 1.9vw;
    }

    .pres_iut_a .block .main_text
    {
        margin-left: 20px;
        border-radius: 5px;
    }

    .pres_iut_a .block .main_text .text_iut
    {
        margin-left: 10px;
    }

    /*COMPETENCES*/
    .competences .c1,
    .competences .c2,
    .competences .c3,
    .competences .c4,
    .competences .c5,
    .competences .c6
    {
        flex-direction: column;
    }

    .competences .c1 .imgC1,
    .competences .c2 .imgC1,
    .competences .c3 .imgC1,
    .competences .c4 .imgC1,
    .competences .c5 .imgC1,
    .competences .c6 .imgC1
    {
        margin-left: 180px;
    }

    .competences .c1 .textC .description p,
    .competences .c2 .textC .description p,
    .competences .c3 .textC .description p,
    .competences .c4 .textC .description p,
    .competences .c5 .textC .description p,
    .competences .c6 .textC .description p
    {
        font-size: 2.1vw;
    }

    .competences .c1 .textC h3,
    .competences .c2 .textC h3,
    .competences .c3 .textC h3,
    .competences .c4 .textC h3,
    .competences .c5 .textC h3,
    .competences .c6 .textC h3
    {
        font-size: 2.4vw;
    }

    .competences .c1 .textC .list_box ul li,
    .competences .c2 .textC .list_box ul li,
    .competences .c3 .textC .list_box ul li,
    .competences .c4 .textC .list_box ul li,
    .competences .c5 .textC .list_box ul li,
    .competences .c6 .textC .list_box ul li,
    .app_crit .appr_cr .boite .liste_ac
    {
        font-size: 1.8vw;
    }

    .competences .c3 .imgC1 img:hover
    {
        transform: rotateZ(180deg);
    }

    /*Vie etu*/
    .vE
    {
        margin: 60px 60px 0px 60px;
    }

    .vE .vie_etu
    {
        flex-direction: column;
    }

    .vE .vie_etu .imgEtu
    {
        border-left: none;
        border-top: 5px solid #f55336;
    }

    .vE .vie_etu .texteF p
    {
        padding: 10px;
        font-size: 2.1vw;
        text-align: center;
    }

}

/*Moniteur*/
@media screen and (min-width: 1000px)
{

    .conteneur-nav{
        position: static;
    }
    nav label, nav input{
        display: none;
    }
    nav input[type=checkbox]:checked + ul, nav ul{
        display: flex;
        flex-flow: row wrap;
        background-color: white;
    }
    nav ul li{
        position: relative;
    }
    
    nav ul li a:hover{
        background-color: rgb(230, 91, 26);
    }

    .sous{
        display: none;
        position: absolute;
        width: 100%;
    }
    nav > div > ul li:hover .sous{
        display: flex;
        flex-flow: column wrap;
    }
    .sous a{
        background-color: rgb(216, 25, 25);
    }
    .deroulant > a::after{
        content:" ▼";
        font-size: 12px;
    }
}

/*Moniteur 2*/
@media screen and (max-width: 1300px) {

    .planSite{
        width: 700px;
        flex-wrap: wrap;
    }

    .bloc{
        width: 40%;
        margin: 0 0;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2){
        margin-bottom: 50px;
    }
}
